In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import spacy
nlp = spacy.load('en_core_web_sm')
from FakeNews import EDA

In [26]:
real = pd.read_csv('../data/true.csv')
fake = pd.read_csv('../data/fake.csv')

In [27]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [28]:
real.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [29]:
real['real'] = True
fake['real'] = False

In [30]:
df = pd.concat([real, fake]).reset_index()
df.head()

,index,title,text,subject,date,real
0,0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",True
1,1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",True
2,2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",True
3,3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",True
4,4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",True

In [31]:
df.real.value_counts()

real
False    23481
True     21417
Name: count, dtype: int64

In [32]:
df[df.duplicated(subset = 'text')]

,index,title,text,subject,date,real
166,166,Factbox: What is in the U.S. Republicans' fina...,(Reuters) - Republicans in the U.S. Congress r...,politicsNews,"December 14, 2017",True
250,250,Aide tries to refocus U.S. tax debate after Tr...,WASHINGTON (Reuters) - President Donald Trump’...,politicsNews,"December 7, 2017",True
445,445,Senate tax bill stalls on deficit-focused 'tri...,WASHINGTON (Reuters) - The U.S. Senate on Thur...,politicsNews,"November 30, 2017",True
778,778,Trump warns 'rogue regime' North Korea of grav...,BEIJING (Reuters) - U.S. President Donald Trum...,politicsNews,"November 8, 2017",True
892,892,"Republicans unveil tax cut bill, but the hard ...",WASHINGTON (Reuters) - U.S. House of Represent...,politicsNews,"November 2, 2017",True
...,...,...,...,...,...,...
44893,23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",False
44894,23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",False
44895,23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",False
44896,23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",False
44897,23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",False

In [33]:
df.drop(df[df.duplicated('text')].index, inplace=True)

In [34]:
df[df.duplicated(subset = 'title')]

,index,title,text,subject,date,real
1282,1282,White House says it can't lawfully pay Obamaca...,WASHINGTON (Reuters) - The White House said la...,politicsNews,"October 13, 2017",True
2149,2149,Pence says NAFTA renegotiation will be a 'win ...,SANTIAGO (Reuters) - U.S. Vice President Mike ...,politicsNews,"August 17, 2017",True
2189,2189,China says it will defend interests if U.S. ha...,BEIJING (Reuters) - China said on Tuesday that...,politicsNews,"August 15, 2017",True
3336,3336,Q&A: What we know about U.S. probes of Russian...,(Reuters) - Former FBI Director James Comey wi...,politicsNews,"June 7, 2017",True
3728,3728,What we know about U.S. probes of Russian medd...,(Reuters) - President Donald Trump’s firing of...,politicsNews,"May 18, 2017",True
...,...,...,...,...,...,...
22952,1535,McConnell Says He’ll Obstruct ANY Effort To H...,Siding with Trump s Attorney General Jeff Sess...,News,"May 10, 2017",False
32337,10920,MEDIA IGNORES Time That Bill Clinton FIRED His...,At the recommendation of both Attorney General...,politics,"May 10, 2017",False
32341,10924,MEDIA IGNORES Time That Bill Clinton FIRED His...,"In its 109-year history, only one F.B.I. direc...",politics,"May 10, 2017",False
32347,10930,FORMER FBI ASST DIRECTOR: “Jim Comey ‘Danced W...,He threw the reputation of the FBI under the ...,politics,"May 9, 2017",False
37232,15815,[Video] WATCH HOW MARCO RUBIO Handles Same Rep...,There s just something about Shrillary that al...,politics,"Apr 17, 2015",False

In [35]:
df.drop(df[df.duplicated(subset = 'title')].index, inplace=True)

In [36]:
df[df.date.str.contains('http')]

,index,title,text,subject,date,real
30775,9358,https://100percentfedup.com/served-roy-moore-v...,https://100percentfedup.com/served-roy-moore-v...,politics,https://100percentfedup.com/served-roy-moore-v...,False
36924,15507,https://100percentfedup.com/video-hillary-aske...,https://100percentfedup.com/video-hillary-aske...,politics,https://100percentfedup.com/video-hillary-aske...,False
36925,15508,https://100percentfedup.com/12-yr-old-black-co...,https://100percentfedup.com/12-yr-old-black-co...,politics,https://100percentfedup.com/12-yr-old-black-co...,False
37256,15839,https://fedup.wpengine.com/wp-content/uploads/...,https://fedup.wpengine.com/wp-content/uploads/...,politics,https://fedup.wpengine.com/wp-content/uploads/...,False
37257,15840,https://fedup.wpengine.com/wp-content/uploads/...,https://fedup.wpengine.com/wp-content/uploads/...,politics,https://fedup.wpengine.com/wp-content/uploads/...,False

In [37]:
df.drop(df[df.date.str.contains('http')].index, inplace=True)

In [38]:
df[df.date.str.contains('MSN')]

,index,title,text,subject,date,real
40350,18933,Homepage,[vc_row][vc_column width= 1/1 ][td_block_trend...,left-news,MSNBC HOST Rudely Assumes Steel Worker Would N...,False

In [39]:
df.drop(df[df.date.str.contains('MSN')].index, inplace=True)

In [40]:
df.date = pd.to_datetime(df.date, format = 'mixed')

In [41]:
df['word_count_text'] = df.text.str.split().apply(len)
df['word_count_title'] = df.title.str.split().apply(len)
df

,index,title,text,subject,date,real,word_count_text,word_count_title
0,0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,2017-12-31,True,749,10
1,1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,2017-12-29,True,624,9
2,2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,2017-12-31,True,457,10
3,3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,2017-12-30,True,376,9
4,4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,2017-12-29,True,852,11
...,...,...,...,...,...,...,...,...
44115,22698,The White House and The Theatrics of ‘Gun Cont...,21st Century Wire says All the world s a stage...,US_News,2016-01-07,False,1226,9
44116,22699,Activists or Terrorists? How Media Controls an...,Randy Johnson 21st Century WireThe majority ...,US_News,2016-01-07,False,4257,13
44117,22700,"BOILER ROOM – No Surrender, No Retreat, Heads ...",Tune in to the Alternate Current Radio Network...,US_News,2016-01-06,False,183,13
44118,22701,Federal Showdown Looms in Oregon After BLM Abu...,21st Century Wire says A new front has just op...,US_News,2016-01-04,False,3480,16
44119,22702,A Troubled King: Chicago’s Rahm Emanuel Desper...,21st Century Wire says It s not that far away....,US_News,2016-01-02,False,964,13

In [42]:
df[df.word_count_text < df.word_count_title]

,index,title,text,subject,date,real,word_count_text,word_count_title
8970,8970,Graphic: Supreme Court roundup,,politicsNews,2016-06-16,True,0,4
32534,11117,MY FAVORITE EXCUSES…Featuring Hillary Rotten C...,Enjoy:,politics,2017-04-17,False,1,7
32650,11233,JUDGE JEANINE’S OPENING STATEMENT: “Our Presid...,Watch my #OpeningStatment pic.twitter.com/Qp...,politics,2017-04-01,False,10,15
32668,11251,MELANIA TRUMP GIVES POWERFUL SPEECH to Honor ‘...,https://www.youtube.com/watch?v=cJZFepSvxzM,politics,2017-03-30,False,1,16
32703,11286,TERRORISM EXPERT SEBASTIAN GORKA On What Next ...,https://www.youtube.com/watch?v=-7Tn4gi_Os8,politics,2017-03-26,False,1,12
...,...,...,...,...,...,...,...,...
42039,20622,9 FACTS ABOUT SLAVERY Democrats Don’t Want You...,SPREAD this EVERYWHERE!,left-news,2016-05-05,False,3,10
42626,21209,ONLY IN DETROIT: Entitled Squatter Gets Squatt...,When karma bites ya in the a*s,left-news,2015-12-18,False,7,9
42920,21503,WOW! BRAVE VETERAN CONFRONTS FERGUSON THUGS ST...,My brothers DIED for that flag!,left-news,2015-08-12,False,6,17
43062,21645,(Video) Obama Supporters Sign Petition to NUKE...,These people will support just about anything ...,left-news,2015-06-15,False,11,15
43076,21659,[Video] AWESOME: TEXAS MOM FRUSTRATED BY MCKIN...,Here s a mom who knows how to raise her children,left-news,2015-06-11,False,11,17

In [43]:
df.drop(df[df.word_count_text < df.word_count_title].index, inplace=True)

In [44]:
df[df.title.str.contains('http')]

Empty DataFrame
Columns: [index, title, text, subject, date, real, word_count_text, word_count_title]
Index: []

In [45]:
df_sample = df.sample(n = 100)

In [46]:
df_sample

,index,title,text,subject,date,real,word_count_text,word_count_title
6079,6079,Standing Rock Sioux tribe opposes Trump order ...,(Reuters) - The Standing Rock Sioux tribe in a...,politicsNews,2017-01-24,True,74,11
35414,13997,PRIORITIES: Obama Puts Illegals Before Social ...,Anyone who s been paying attention can tell yo...,politics,2016-05-02,False,237,12
3443,3443,German industry says Trump's climate pact pull...,BERLIN (Reuters) - German industry association...,politicsNews,2017-06-02,True,272,10
15163,15163,U.N. urges calm as deadline nears for asylum s...,SYDNEY (Reuters) - About 20 asylum seekers on ...,worldnews,2017-11-10,True,563,14
19037,19037,Damascus says Syrian Kurdish autonomy negotiab...,BEIRUT (Reuters) - The Syrian government is op...,worldnews,2017-09-26,True,354,7
...,...,...,...,...,...,...,...,...
18826,18826,Philippine leader changes his tune with praise...,MANILA (Reuters) - Philippine President Rodrig...,worldnews,2017-09-28,True,499,10
41960,20543,WOMAN WORKING OUT WITH HUSBAND Told To Stop We...,It s perfectly appropriate for a male rapist t...,left-news,2016-05-21,False,383,16
8164,8164,"Clinton to meet with presidents of Egypt, Ukra...","WHITE PLAINS, New York (Reuters) - Democratic ...",politicsNews,2016-09-14,True,48,11
19484,19484,Leaked memo fuels accusations of ethnic bias i...,KABUL (Reuters) - A leaked memo from an staff ...,worldnews,2017-09-21,True,449,10
24746,3329,Trump STRANDED As Longtime Pal BAILS On Perfo...,President-elect Donald Trump loves bragging ab...,News,2016-12-20,False,347,12

In [48]:
from tqdm import tqdm
tqdm.pandas(desc='progress bar')
df_sample['Docs_text'] = df_sample['text'].progress_apply(nlp)

progress bar: 100%|██████████| 100/100 [00:04<00:00, 21.54it/s]

In [51]:
df['Docs_text'] = df['text'].progress_apply(nlp)

progress bar: 100%|██████████| 38040/38040 [45:50<00:00, 13.83it/s]

In [1]:
df_1000 = df.sample(1000)

NameError: name 'df' is not defined